<footer style="margin-top: 20px;" class="footer">
    <div class="footer-container">
        <div class="footer-socials">
            <a href="https://facebook.com" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://instagram.com" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://linkedin.com" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="footer-brand"> &copy; Wonderlust Private Limited</div>
        <div class="footer-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
